* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 6em;
  background-color: cadetblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#map-container {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

#sidebar-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: space-between;
  background-color: cornflowerblue;
}

.sidebar-header {
  font-size: 2em;
  color: #333;
  text-align: center;
  padding: 0 0.91em;
}

h1 {
  color: #333;
  font-size: 4em;
}

#main-restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

#restaurant-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.link {
  margin-left: 2em;
  font-size: 1.5em;
}

#restaurant-info {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 12em;
  background-color: cadetblue;
  padding-left: 1em;
}

h2 {
  text-align: center;
  background-color: cadetblue;
  width: 60vw;
  margin: 0;
  padding-top: 1em;
}

#info-container {
  display: flex;
  width: 60vw;
  background-color: cadetblue;
}

#comments {
  padding-right: 1em;
}
