* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

#header-container {
  display: flex;
  justify-content: center;
}
#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
h1 {
  width: 600px;
  height: 2em;
  background-color: cadetblue;
  color: ghostwhite;
}

.popup {
  background-color: darkcyan;
  color: aqua;
}
